# Build output
bin/
obj/

# dotnet
*.user
*.suo
.vs/
.vscode/

# JetBrains Rider
.idea/

# Internal docs
docs/

# NuGet
*.nupkg
*.snupkg
project.lock.json
packages/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database files
*.db
*.db-shm
*.db-wal
